.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {background:url(https://images.pexels.com/photos/1022692/pexels-photo-1022692.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);}
.main {width:75%;margin:auto;padding:15px;}
h1 {text-align:right;padding:10px;text-transform:uppercase;color:#e2dcd4;text-shadow:#000 1px 1px 1px; background:rgba(21, 17, 14, 0.85);border-top-left-radius:25px;border-top-right-radius:25px;}
h2 {text-align:right;text-transform:lowercase;background:rgba(21, 17, 14, 0.85);margin-top:-8px !important;line-height:100%  !important;color:#f4fef6;padding:10px;text-shadow:#000 1px 1px 1px;border-bottom-left-radius:25px;border-bottom-right-radius:25px;}
.content {border-radius:50px;border:double 9px #181310;padding:25px;max-width:90%;margin:auto;background:rgba(49, 39, 33, .85);color:#d4c7bf;}
.content-sm {display:inline-block;width:42%;border-radius:50px;border:double 9px #181310;padding:25px;margin:15px;background:#5c493d;vertical-align:top;}
.mr-button {border-radius:25px !important;height:50px !important;float:right;background:#181310 !important;color:#ae9e89 !important;border-right:#000 solid 3px !important;border-bottom:#000 solid 3px !important;border-left:#3d3129 solid 3px !important;border-top:#3d3129 solid 3px !important;font-size:1em !important;font-weight:bold !important;text-transform:uppercase !important;box-shadow:#181310 2px 2px 5px !important;}
.mr-button:hover {color:#e2dcd4 !important;background:#2b221d !important;transition:1s !important;}
.paralax1{background-image:url(https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);height:300px;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;margin-top:25px;margin-bottom:25px;border-top:solid 10px #e2dcd4;border-bottom:solid 10px #e2dcd4;}
.paralax2{background-image:url(https://images.pexels.com/photos/923681/pexels-photo-923681.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);height:300px;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;margin-top:25px;margin-bottom:25px;border-top:solid 10px #e2dcd4;border-bottom:solid 10px #e2dcd4;}
h4 {color:#f4fef6;font-size:1.2em;letter-spacing:2px;padding-left:10px;padding-right:10px;}
p::first-letter {color:#f4fef6;font-size:1.1em;font-weight:bold;}
footer {background:#181310;color:#ae9e89;}
